.eye-member-grid{
    height:80%;
}
.ant-table-fixed-header .ant-table-scroll .ant-table-header {
    height: 60px;
    text-align: center;
    overflow: hidden;
}
.ant-table-title{
     height: 50px;
     padding: 0;
}
.table_selected_style{
    background: red;
}