.ant-collapse{
    height:85%;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    background: #FFFFFF;
}
.active{
    background: #22B6E7;
}
.ant-collapse-content{
    overflow: hidden;
    color: rgba(0, 0, 0, 0.65);
    padding: 0 5px;
    background-color: #D4E9F1;
}
.ant-card-head{
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 24px;
    border-radius: 2px 2px 0 0;
}
.history_card{
    width:100%;
    border-radius:3px;
    margin-top:5px ;
}
.ant-card-extra {
    position: absolute;
    right: 20px;
    top: 7px;
}
